<section class="services">
    <div class="container">
        <div class="services__title-wrapper">
            <h2 data-aos="fade-right" class="services__title">
                <span class="services__title-gold">Послуги </span>Детейлінгу
            </h2>
            <div data-aos="fade-left" class="services__desc-wrapper">
                <svg class="services__hot-icon" width="32" height="32">
                    <use href="./images/icons-sprite.svg#icon-Hot"></use>
                </svg>
                <p class="services__desc">Популярні послуги</p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="accordion__title">Захисні та нанокерамічні покриття<svg class="accordion__title-icon" width="24"
                height="24">
                <use href="./images/icons-sprite.svg#icon-Arrow-Down-Corner"></use>
            </svg></h3>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Нанесення керамічного складу на кузов авто</p>
                    <p class="accordion-header__price">Від 4000 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">4000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">5000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">5500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">6000 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Нанесення керамічного складу на диски</p>
                    <p class="accordion-header__price">Від 3500 грн</p>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <svg class="accordion-header__icon" width="32" height="32">
                            <use href="./images/icons-sprite.svg#icon-Default"></use>
                        </svg>
                        <p class="accordion-header__title">Керамічне покриття шкіряних сидінь</p>
                        <p class="accordion-header__price">Від 3500 грн</p>
                    </div>

                    <div class="accordion-content">
                        <ul class="accordion__category-list list">
                            <li class="accordion__category-item">
                                <svg class="accordion__category-icon" width="64px" height="64px">
                                    <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                                </svg>
                                <p class="accordion__category-category">Міні, суперміні</p>
                                <p class="accordion__category-price">Від 3500 грн</p>
                            </li>
                            <li class="accordion__category-item">
                                <svg class="accordion__category-icon" width="64px" height="64px">
                                    <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                                </svg>
                                <p class="accordion__category-category">
                                    Седан, Купє, Бізнес, Спорт
                                </p>
                                <p class="accordion__category-price">Від 3500 грн</p>
                            </li>
                            <li class="accordion__category-item">
                                <svg class="accordion__category-icon" width="64px" height="64px">
                                    <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                                </svg>
                                <p class="accordion__category-category">
                                    Універсал, Паркетник, Позашляховик
                                </p>
                                <p class="accordion__category-price">Від 3500 грн</p>
                            </li>
                            <li class="accordion__category-item">
                                <svg class="accordion__category-icon" width="64px" height="64px">
                                    <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                                </svg>
                                <p class="accordion__category-category">
                                    Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                                </p>
                                <p class="accordion__category-price">Від 3500 грн</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">2000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">2000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">2000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">2000 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Нанесення твердого воску</p>
                    <p class="accordion-header__price">Від 800 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">800 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">1000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">1200 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">1500 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Нанесення "Антидощу" (передня полусфера)</p>
                    <p class="accordion-header__price">Від 1000 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">1000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">1200 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">1500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">2000 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="./detailing.html" class="services__btn">
            Всі послуги
            <svg class="services__btn-icon" width="24px" height="24px">
                <use href="./images/icons-sprite.svg#icon-Arrow-Right"></use>
            </svg>
        </a>
    </div>
</section>