<section class="services">
    <div class="container">
        <div class="services__title-wrapper">
            <h2 data-aos="fade-right" class="services__title">
                <span class="services__title-gold">Послуги </span>Детейлінгу
            </h2>
            <div data-aos="fade-left" class="services__desc-wrapper">
                <svg class="services__hot-icon" width="32" height="32">
                    <use href="./images/icons-sprite.svg#icon-Hot"></use>
                </svg>
                <p class="services__desc">Популярні послуги</p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="accordion__title">Оклеювання автомобіля бронеплівкою<svg class="accordion__title-icon" width="24"
                height="24">
                <use href="./images/icons-sprite.svg#icon-Arrow-Down-Corner"></use>
            </svg></h3>
            
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Стандарт (частина капоту, частина крил, бампер, дзеркала, ручки,
                        фари, противотуманки)</p>
                    <p class="accordion-header__price">Від 300 $</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">Від 300 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">Від 350 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">Від 400 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">Від 450 $</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Стандарт + (капот повністью, частина крил, бампер, дзеркала,
                        ручки,
                        фари, противотуманки)</p>
                    <p class="accordion-header__price">Від 350 $</p>
                </div>
                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">Від 350 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">Від 400 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">Від 450 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">Від 500 $</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Стандарт ++ (капот повністю, крила, бампер, дзеркала,
                        ручки,
                        фари, противотуманки)</p>
                    <p class="accordion-header__price">Від 600 $</p>
                </div>
                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">Від 600 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">Від 700 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">Від 800 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">Від 900 $</p>
                        </li>
                    </ul>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <svg class="accordion-header__icon" width="32" height="32">
                            <use href="./images/icons-sprite.svg#icon-Default"></use>
                        </svg>
                        <p class="accordion-header__title">Повне оклеювання автомобіля</p>
                        <p class="accordion-header__price">Від 2500 $</p>
                    </div>
                    <div class="accordion-content">
                        <ul class="accordion__category-list list">
                            <li class="accordion__category-item">
                                <svg class="accordion__category-icon" width="64px" height="64px">
                                    <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                                </svg>
                                <p class="accordion__category-category">Міні, суперміні</p>
                                <p class="accordion__category-price">Від 2500 $</p>
                            </li>
                            <li class="accordion__category-item">
                                <svg class="accordion__category-icon" width="64px" height="64px">
                                    <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                                </svg>
                                <p class="accordion__category-category">
                                    Седан, Купє, Бізнес, Спорт
                                </p>
                                <p class="accordion__category-price">Від 3000 $</p>
                            </li>
                            <li class="accordion__category-item">
                                <svg class="accordion__category-icon" width="64px" height="64px">
                                    <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                                </svg>
                                <p class="accordion__category-category">
                                    Універсал, Паркетник, Позашляховик
                                </p>
                                <p class="accordion__category-price">Від 3000 $</p>
                            </li>
                            <li class="accordion__category-item">
                                <svg class="accordion__category-icon" width="64px" height="64px">
                                    <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                                </svg>
                                <p class="accordion__category-category">
                                    Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                                </p>
                                <p class="accordion__category-price">Від 3000 $</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a href="./detailing.html" class="services__btn">
            Всі послуги
            <svg class="services__btn-icon" width="24px" height="24px">
                <use href="./images/icons-sprite.svg#icon-Arrow-Right"></use>
            </svg>
        </a>
    </div>
</section>