<section class="about">
  <div class="container">
    <h3 class="about__title"><span class="about__title-two">Про</span> Нас</h3>
    <p class="about__desc-our-mission">
      <span class="about__desc-mission">Наша міссія</span> - надавати
      автомобілям <br />
      бездоганний блиск та захист
    </p>
    <div class="about__desc-card">
      <div class="about__desc-wrapper">
        <p class="about__desc">
          Ми пропонуємо широкий спектр послуг, включаючи поліровку кузова і фар,
          хімчистку, оклейку плівкою та керамічне покриття та більше. Наші
          досвідчені фахівці вміло впораються з будь-якими деталями,
          забезпечуючи бездоганний вигляд вашого автомобіля.
        </p>
        <p class="about__desc">
          Крім того, ми також пропонуємо послуги СТО для повного технічного
          обслуговування вашого автомобіля.
        </p>
      </div>
      <picture>
        <source srcset="
            ./images/about/Rectangle-desktop.png    1x,
            ./images/about/Rectangle-desktop@2x.png 2x
          " media="(min-width: 1200px)" />
        <source srcset="
            ./images/about/Rectangle-tablet.png    1x,
            ./images/about/Rectangle-tablet@2x.png 2x
          " media="(min-width: 768px)" />
        <source srcset="
            ./images/about/Rectangle-mobile.png    1x,
            ./images/about/Rectangle-mobile@2x.png 2x
          " media="(max-width: 767px)" min-height="356" />
        <img class="about__photo" src="./images/about/Rectangle-mobile.png" alt="Rectangle" min-height="356" />
      </picture>
    </div>
    <div class="about__desc-card-two">
      <div class="about__desc-wrapper">
        <p class="about__desc">
          Завдяки нашим навичкам, досвіду та турботі про деталі, ми здатні
          привести ваше авто до ідеального стану. Ми працюємо з дбайливістю,
          професіоналізмом та уважністю до кожної деталі, надаючи індивідуальний
          підхід до потреб кожного клієнта.
        </p>
        <p class="about__desc">
          Довірте нам свій автомобіль, і ми зробимо чудову роботу, щоб ви
          залишилися задоволені кожним деталем нашої роботи.
        </p>
      </div>
      <picture class="about__photo">
        <source srcset="
            ./images/about/Rectangle-2-desktop.png    1x,
            ./images/about/Rectangle-2-desktop@2x.png 2x
          " media="(min-width: 1200px)" />
        <source srcset="
            ./images/about/Rectangle-2-tablet.png    1x,
            ./images/about/Rectangle-2-tablet@2x.png 2x
          " media="(min-width: 768px)" />
        <source srcset="
            ./images/about/Rectangle-2-mobile.png    1x,
            ./images/about/Rectangle-2-mobile@2x.png 2x
          " media="(max-width: 767px)" min-height="356" />
        <img class="about__photo" src="./images/about/Rectangle-2-mobile.png" alt="Rectangle" min-height="356" />
      </picture>
    </div>
  </div>
</section>