<section id="about" class="about">
  <div class="container">
    <h2 data-aos="fade-right" class="about__title">
      <span class="about__title-two">Про</span> Нас
    </h2>
    <p data-aos="fade-right" class="about__desc-our-mission">
      <span class="about__desc-mission">GOLD DETAILING -</span> цє...
    </p>
    <div class="about__desc-card">
      <div class="about__desc-wrapper">
        <p data-aos="fade-right" class="about__desc-number">01</p>
        <p data-aos="fade-right" class="about__desc-title">
          Якісний догляд за авто
        </p>
        <p data-aos="fade-right" class="about__desc">
          Наша студія детейлінгу пропонує найвищу якість обслуговування та широкий спект послуг. Ми використовуємо
          останні
          технології та найкращі матеріали для надання комплексного догляду за вашим автомобілем. Наша команда старанно
          працює,
          щоб зробити ваше авто блискучим, чистим і як нове.
        </p>
        <p data-aos="fade-right" class="about__desc">
          <span class="about__desc-gold">Ми пропонуємо повний спектр послуг детейлінгу</span>
          і не тільки.
        </p>
      </div>
      <picture>
        <source srcset="
            ./images/about/about-1.jpg    1x,
            ./images/about/about-1@2x.jpg 2x
          " media="(min-width:768px)" />
        <source srcset="
            ./images/about/about-1-mobile.jpg    1x,
            ./images/about/about-1-mobile@2x.jpg 2x
          " media="(max-width:767px)" />
        <img class="about__photo" src="./images/about/about-1.jpg" alt="Rectangle" min-height="280" />
      </picture>
    </div>
    <div class="about__desc-card-two">
      <div class="about__desc-wrapper">
        <p data-aos="fade-left" class="about__desc-number">02</p>
        <p data-aos="fade-left" class="about__desc-title">
          Технічне обслуговування
        </p>
        <p data-aos="fade-left" class="about__desc">
          Наша студія детейлінгу не тільки пропонує бездоганний зовнішній вигляд
          для вашого автомобіля, але й забезпечує повний спектр технічного
          обслуговування. Наші експерти здійснюють заміну рідин, гальмівних
          колодок та фільтрів, виконують діагностику автомобіля з використанням
          сучасних технологій, а також вирішують проблеми, пов'язані з
          автоелектрикою.
        </p>
      </div>
      <picture class="about__photo">
        <source srcset="
            ./images/about/about-2.jpg    1x,
            ./images/about/about-2@2x.jpg 2x
          " media="(min-width:768px)" />
        <source srcset="
            ./images/about/about-2-mobile.jpg    1x,
            ./images/about/about-2-mobile@2x.jpg 2x
          " media="(max-width:767px)" />
        <img class="about__photo" src="./images/about/about-2.jpg" alt="Rectangle" min-height="280" />
      </picture>
    </div>
    <div class="about__desc-card-three">
      <div class="about__desc-wrapper">
        <p data-aos="fade-right" class="about__desc-number">03</p>
        <p data-aos="fade-right" class="about__desc-title">Лаунж зона</p>
        <p data-aos="fade-right" class="about__desc">
          Віддалений від шумного світу автосервісу, наша лаунж зона створена для
          вашого максимального комфорту. Тут ви можете насолоджуватися іграми на
          PS 5, покурити кальян, скуштувати безалкогольні напої та випити свіжої
          кави. Наша Лаунж зона є прекрасним місцем для розслаблення, поки ваш
          автомобіль перебуває під нашою дбайливою опікою.
        </p>
      </div>
      <picture class="about__photo">
        <source srcset="./images/about/about-3.jpg 1x" media="(min-width:768px)" />
        <source srcset="
            ./images/about/about-3-mobile.jpg    1x,
            ./images/about/about-3-mobile@2x.jpg 2x
          " media="(max-width:767px)" />
        <img class="about__photo" src="./images/about/about-3.jpg" alt="Rectangle" min-height="280" />
      </picture>
    </div>
  </div>
</section>