<section class="advantages">
    <div class="advantages__container container">
        <h2 class="visually-hidden">Переваги</h2>
        <ul class="advantages__menu list">
            <li data-aos="zoom-in" class="advantages__item ">
                <svg class="advantages__icon" width="64px" height="64px">
                    <use href="./images/icons-sprite.svg#icon-crown"></use>
                </svg>
                <h3 class="advantages__title">Повний спектр послуг</h3>
                <p class="advantages__desc">Ми пропонуємо повний спектр послуг на детейлінг. Від хімчистки салону до
                    відновлення вм’ятин на кузові. На сайті Ви
                    знайдете всі наші послуги та ціни.</p>
            </li>
            <li data-aos="zoom-in" class="advantages__item">
                <svg class="advantages__icon" width="64px" height="64px">
                    <use href="./images/icons-sprite.svg#icon-Clean"></use>
                </svg>
                <h3 class="advantages__title">Досвідчені майстри</h3>
                <p class="advantages__desc">Наша команда дуже мотивована на якісну роботу. Ми розуміємо цінність наших
                    клієнтів і тому дуже ретельно та детально
                    пропрацювуємо кожне авто незалежно від классу та марки автомобіля.</p>
            </li>
            <li data-aos="zoom-in" class="advantages__item">
                <svg class="advantages__icon" width="64px" height="64px">
                    <use href="./images/icons-sprite.svg#icon-Spray"></use>
                </svg>
                <h3 class="advantages__title">Якісні матеріали</h3>
                <p class="advantages__desc">Одна із запоруок успіху - це матеріали та інструменти які викотристовуються
                    для детейлінгу. Наша автохімія та матеріали
                    сертивіковані, якісні та не шкодять Вашому здоров’ю.</p>
            </li>
            <li data-aos="zoom-in" class="advantages__item">
                <svg class="advantages__icon" width="64px" height="64px">
                    <use href="./images/icons-sprite.svg#icon-Gamepad"></use>
                </svg>
                <h3 class="advantages__title">Місце для відпочинку</h3>
                <p class="advantages__desc">Доки Ваше авто знаходиться в надійних руках, ви можете відпочити у нашому
                    затишному куточку. Пограти на PS 5, покурити
                    кальян або випити безалкогольні напої</p>
            </li>
        </ul>
    </div>
</section>