<section class="advantages">
    <div class="advantages__container container">
        <ul class="advantages__menu">
            <li class="advantages__item">
                <svg class="advantages__icon" width="64px" height="64px">
                    <use href="./images/icons-sprite.svg#icon-Gamepad"></use>
                </svg>
                <h3 class="advantages__title">Приемущество</h3>
                <p class="advantages__desc">Учитывая ключевые сценарии поведения, перспективное планирование выявляет
                    срочную потребность
                    соответствующих условий
                    активизации!</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icon" width="64px" height="64px">
                    <use href="./images/icons-sprite.svg#icon-Spray"></use>
                </svg>
                <h3 class="advantages__title">Приемущество</h3>
                <p class="advantages__desc">Учитывая ключевые сценарии поведения, перспективное планирование выявляет
                    срочную потребность
                    соответствующих условий
                    активизации!</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icon" width="64px" height="64px">
                    <use href="./images/icons-sprite.svg#icon-Clean"></use>
                </svg>
                <h3 class="advantages__title">Приемущество</h3>
                <p class="advantages__desc">Учитывая ключевые сценарии поведения, перспективное планирование выявляет
                    срочную потребность
                    соответствующих условий
                    активизации!</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icon" width="64px" height="64px">
                    <use href="./images/icons-sprite.svg#icon-Hot"></use>
                </svg>
                <h3 class="advantages__title">Приемущество</h3>
                <p class="advantages__desc">Учитывая ключевые сценарии поведения, перспективное планирование выявляет
                    срочную потребность
                    соответствующих условий
                    активизации!</p>
            </li>
        </ul>
    </div>
</section>