<section class="advantages">
    <div class="advantages__container container">
        <h2 class="visually-hidden">Переваги</h2>
        <ul class="advantages__menu list">
            <li data-aos="zoom-in" class="advantages__item">
                <header class="advantages__item-header">
                    <svg class="advantages__icon" width="64px" height="64px">
                        <use href="./images/icons-sprite.svg#icon-crown"></use>
                    </svg>
                    <h3 class="advantages__title">Повний спектр послуг</h3>
                </header>
                
                <p class="advantages__desc">
                    Від хімчистки салону до відновлення вм’ятин на кузові.
                    На сайті Ви знайдете всі наші послуги та ціни.
                </p>
            </li>
            <li data-aos="zoom-in" class="advantages__item">
                <header class="advantages__item-header">
                    <svg class="advantages__icon" width="64px" height="64px">
                        <use href="./images/icons-sprite.svg#icon-Clean"></use>
                    </svg>
                    <h3 class="advantages__title">Досвідчені майстри</h3>
                </header>
                
                <p class="advantages__desc">
                    Наша команда мотивована на якісну роботу, ретельно працюючи з
                    кожним авто незалежно від його классу та марки
                </p>
            </li>
            <li data-aos="zoom-in" class="advantages__item">
                <header class="advantages__item-header">
                    <svg class="advantages__icon" width="64px" height="64px">
                        <use href="./images/icons-sprite.svg#icon-Spray"></use>
                    </svg>
                    <h3 class="advantages__title">Якісні матеріали</h3>
                </header>
                
                <p class="advantages__desc">
                    Наша автохімія та матеріали мають високу якість,
                    сертифіковані та не шкодять Вашому здоров’ю.
                </p>
            </li>
            <li data-aos="zoom-in" class="advantages__item">
                <header class="advantages__item-header">
                    <svg class="advantages__icon" width="64px" height="64px">
                        <use href="./images/icons-sprite.svg#icon-Gamepad"></use>
                    </svg>
                    <h3 class="advantages__title">Місце для відпочинку</h3>
                </header>
                
                <p class="advantages__desc">
                    Доки Ваше авто знаходиться у надійних руках, можете відпочити
                    в нашому затишному куточку разом з PS5 та безалкогольними напоями
                </p>
            </li>
        </ul>
    </div>
</section>