<section class="call-form__section">
    <h2 class="visually-hidden">Call Form</h2>
    <div class="call-form__container container">
        <p class="call-form__desc">
            Отримайте
            <span class="call-form__desc-gold">консультацію щодо послуг</span> прямо
            зараз
        </p>
        <form class="call-form__form" id="call-form">
            <input class="call-form__form-input" type="text" id="name" placeholder="Ваше ім’я*" autocomplete="off" />
            <div class="input-hint" id="name-hint"></div> <!-- Подсказка для имени -->
            <input class="call-form__form-input" type="tel" id="phone" placeholder="Номер телефону*"
                autocomplete="off" />
            <div class="input-hint" id="phone-hint"></div> <!-- Подсказка для телефона -->
            <textarea class="call-form__form-textarea" id="message"
                placeholder="Ваше повідомлення (не обов’язково)"></textarea>
            <button class="call-form__form-btn" type="submit">Передзвоніть мені</button>
        </form>
    </div>
</section>

<script>
    const form = document.getElementById('call-form');
    const nameInput = document.getElementById('name');
    const phoneInput = document.getElementById('phone');
    const messageInput = document.getElementById('message');
    const nameHint = document.getElementById('name-hint');
    const phoneHint = document.getElementById('phone-hint');

    form.addEventListener('submit', async function (event) {
        event.preventDefault();

        let valid = true;

        // Проверка имени
        const namePattern = /^[а-яА-ЯёЁa-zA-Z\s']+$/;
        if (!namePattern.test(nameInput.value) || nameInput.value.length < 2) {
            valid = false;
            nameHint.textContent = 'Введіть коректне ім\'я (не менше двох букв)';
        } else {
            nameHint.textContent = '';
        }

        // Проверка телефона
        const phonePattern = /^\+380\d{9}$/;
        if (!phonePattern.test(phoneInput.value)) {
            valid = false;
            phoneHint.textContent = 'Введіть коректний номер телефону (в форматі +380-XX-XXX-XX-XX)';
        } else {
            phoneHint.textContent = '';
        }

        if (!valid) {
            return;
        }

        // Отправка данных на бэкенд с использованием Axios
        try {
            const response = await axios.post('https://goldetailing-backend.onrender.com/submit-form', {
                name: nameInput.value,
                phone: phoneInput.value,
                message: messageInput.value
            });

            if (response.status === 200) {
                Swal.fire({
                    icon: 'success',
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },
                    timer: 3000,
                    title: 'Дякуємо, Ваша заявка прийнята!',
                    html: '<p class="swal-text">Наш менеджер зв\'яжеться з вами найближчим часом.</p>',
                    showConfirmButton: false,
                    customClass: {
                        title: 'swal-title',
                        htmlContainer: 'swal-html-container',
                        popup: 'swal-popup'
                    }
                });
                nameInput.value = '';
                phoneInput.value = '';
                messageInput.value = '';
            } else {
                Swal.fire({
                    icon: 'error',
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },
                    timer: 3000,
                    title: 'Ой-йой .....',
                    html: '<p class="swal-text">Щось пішло не так, спробуй відправити заявку пізніше.</p>',
                    showConfirmButton: false,
                    customClass: {
                        title: 'swal-title',
                        htmlContainer: 'swal-html-container',
                        popup: 'swal-popup'
                    }
                });
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                // timer: 4000,
                title: 'Ой-йой.....',
                html: '<p class="swal-text">Щось пішло не так, спробуй відправити заявку пізніше.</p>',
                showConfirmButton: false,
                customClass: {
                    title: 'swal-title',
                    htmlContainer: 'swal-html-container',
                    popup: 'swal-popup'
                }
            })
        }
    });
</script>