<section class="consultation">
    <div class="container">
        <h2 class="visually-hidden">Консультація</h2>
        <p class="consultation__desc">Напиши нам, та отримай консультацію</p>
        <a href="https://web.telegram.org/a/#5530926461" target="_blank" rel="noopener noreferrer"><button
                class="consultation__btn" type="button">
                TELEGRAM
                <svg class="consultation__btn-icon" width="24px" height="24px">
                    <use href="./images/icons-sprite.svg#icon-telega"></use>
                </svg></button></a>
    </div>
</section>