<section class="consultation">
    <div class="container">
        <h2 class="visually-hidden">Консультація</h2>
        <p class="consultation__desc">Напиши нам, та отримай консультацію</p>
        <a href=""><button class="consultation__btn" type="button">
                TELEGRAM
                <svg class="consultation__btn-icon" width="24px" height="24px">
                    <use href="./images/icons-sprite.svg#icon-telega"></use>
                </svg></button></a>
        <div class="consultation-tel">
            <p class="consultation-tel__desc">Або дзвони за телефоном:</p>
            <a class="consultation-tel__phone" href="tel:+380943333302">+380-94-333-33-02</a>
            <p class="consultation-tel__schedule">Графік роботи з 08:00 до 20:00</p>
            <a href="tel:+380943333302"><button id="heroBtn" type="button" class="hero__btn"
                    onclick="this.classList.add('active'); setTimeout(() => this.classList.remove('active'), 800)">
                    Консультація та запис
                    <svg class="btn-icon" width="32px" height="32px">
                        <use href="./images/icons-sprite.svg#icon-Call"></use>
                    </svg></button></a>
        </div>
    </div>
</section>