<section class="detailing-hero-section">
    <picture>
        <source srcset="
        ./images/detailing-hero/hero-mobile.webp    1x,
        ./images/detailing-hero/hero-mobile@2x.webp 2x
      " />
        <img class="hero__photo-detailing" src="./images/detailing-hero/hero-mobile@2x.webp" alt="blue car"
            height="324px" />
    </picture>
    <div class="detailing-hero-container container">
        <h1 class="hero__title">
            Послуги <span class="hero__title-detailing">Детейлінгу</span>
        </h1>
        <a href="tel:+380943333302"><button id="heroBtn" type="button" class="hero__btn"
                onclick="this.classList.add('active'); setTimeout(() => this.classList.remove('active'), 800)">
                Консультація та запис
                <svg class="btn-icon" width="32px" height="32px">
                    <use href="./images/icons-sprite.svg#icon-Call"></use>
                </svg></button></a>
    </div>
</section>