<footer class="footer">
    <div class="container">
        <h3 class="visually-hidden">Footer</h3>
        <div class="footer__location">
            <a class="footer-address" href="https://goo.gl/maps/7vV3M475DFrGRnwaA" target="_blank"
                rel="noopener noreferrer">м. Київ
                <br />
                Велика Кільцева вулиця, 4г</a>
            <div class="footer__map" id="map"></div>
        </div>
        <div class="footer__contacts"></div>
        <a href="./index.html" class="logo">
            <picture>
                <source srcset="
            ./images/GOLDDETAILING.png    1x,
            ./images/GOLDDETAILING@2x.png 2x
          " />
                <img src="./images/GOLDDETAILING@2x.png" alt="Logo" lang="en" />
                <div class="footer__contacts-wrapper">
                    <a class="footer-contacts-phone" href="tel:+380943333302">+380-94-333-33-02</a>
                    <p class="footer-work-schedule">Графік роботи з 08:00 до 20:00</p>
                </div>
            </picture>
        </a>
    </div>
</footer>