<section id="gallery" class="gallery">
    <div class="container">
        <h2 class="gallery__title">Галерея</h2>
        <p class="gallery__desc">Фото наших робіт</p>
        <div class="gallery__slider">
            <div class="gallery__slider-big">
                <div>
                    <picture>
                        <source srcset="
                            ./images/gallery/gallery-1.webp    1x,
                            ./images/gallery/gallery-1@2x.webp 2x
                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-1.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-2.webp    1x,
                                            ./images/gallery/gallery-2@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-2.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-3.webp    1x,
                                            ./images/gallery/gallery-3@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-3.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-4.webp    1x,
                                            ./images/gallery/gallery-4@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-4.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-5.webp    1x,
                                            ./images/gallery/gallery-5@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-5.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-6.webp    1x,
                                            ./images/gallery/gallery-6@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-6.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-7.webp    1x,
                                            ./images/gallery/gallery-7@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-7.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-8.webp    1x,
                                            ./images/gallery/gallery-8@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-8.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-9.webp    1x,
                                            ./images/gallery/gallery-9@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-9.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-10.webp    1x,
                                            ./images/gallery/gallery-10@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-10.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-11.webp    1x,
                                            ./images/gallery/gallery-11@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-11.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
                <div>
                    <picture>
                        <source srcset="
                                            ./images/gallery/gallery-12.webp    1x,
                                            ./images/gallery/gallery-12@2x.webp 2x
                                          " />
                        <img class="gallery__photo" src="./images/gallery/gallery-12.webp" alt="gallery"
                            height="400px" />
                    </picture>
                </div>
            </div>
            <div class="gallery__slider-small">
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                ./images/gallery/mini-photo/gallery-1.webp    1x,
                ./images/gallery/mini-photo/gallery-1@2x.webp 2x
              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-1.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                ./images/gallery/mini-photo/gallery-2.webp    1x,
                ./images/gallery/mini-photo/gallery-2@2x.webp 2x
              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-2.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                ./images/gallery/mini-photo/gallery-3.webp    1x,
                ./images/gallery/mini-photo/gallery-3@2x.webp 2x
              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-3.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                ./images/gallery/mini-photo/gallery-4.webp    1x,
                ./images/gallery/mini-photo/gallery-4@2x.webp 2x
              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-4.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                ./images/gallery/mini-photo/gallery-5.webp    1x,
                ./images/gallery/mini-photo/gallery-5@2x.webp 2x
              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-5.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                ./images/gallery/mini-photo/gallery-6.webp    1x,
                ./images/gallery/mini-photo/gallery-6@2x.webp 2x
              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-6.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                ./images/gallery/mini-photo/gallery-7.webp    1x,
                ./images/gallery/mini-photo/gallery-7@2x.webp 2x
              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-7.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                ./images/gallery/mini-photo/gallery-8.webp    1x,
                ./images/gallery/mini-photo/gallery-8@2x.webp 2x
              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-8.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                        ./images/gallery/mini-photo/gallery-9.webp    1x,
                        ./images/gallery/mini-photo/gallery-9@2x.webp 2x
                      " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-9.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                                ./images/gallery/mini-photo/gallery-10.webp    1x,
                                ./images/gallery/mini-photo/gallery-10@2x.webp 2x
                              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-10.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                                ./images/gallery/mini-photo/gallery-11.webp    1x,
                                ./images/gallery/mini-photo/gallery-11@2x.webp 2x
                              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-11.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source srcset="
                                                ./images/gallery/mini-photo/gallery-12.webp    1x,
                                                ./images/gallery/mini-photo/gallery-12@2x.webp 2x
                                              " />
                        <img class="gallery__photo" src="./images/gallery/mini-photo/gallery-12.webp" alt="gallery"
                            height="116px" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>