<header>
    <div class="header-container container">
        <a href="./index.html" class="logo">
            <picture>
                <source srcset="./images/GOLDDETAILING.png 1x, ./images/GOLDDETAILING@2x.png 2x">
                <img src="./images/GOLDDETAILING.png" alt="Logo" lang="en" />
            </picture>
        </a>
        <button type="button" class="btn-burger">
            <svg class="icon-burger" width="21px" height="24px">
                <use href="./images/icons-sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
    <div class="menu-overlay">
        <a href="./index.html" class="logo">
            <picture>
                <source srcset="./images/GOLDDETAILING.png 1x, ./images/GOLDDETAILING@2x.png 2x">
                <img src="./images/GOLDDETAILING.png" alt="Logo" lang="en" />
            </picture>
        </a>
        <button type="button" class="btn-close">
            <svg width="20px" height="20px">
                <use href="./images/icons-sprite.svg#icon-Close"></use>
            </svg>
        </button>
        <ul class="menu-list">
            <li class="menu-list-item"><a class="menu-list-link" href="">Про нас</a> </li>
            <li class="menu-list-item"><a class="menu-list-link" href="">Детейлінг</a> </li>
            <li class="menu-list-item"><a class="menu-list-link" href="">Партнери</a> </li>
            <li class="menu-list-item"><a class="menu-list-link" href="">СТО</a> </li>
            <li class="menu-list-item"><a class="menu-list-link" href="">Портфоліо</a> </li>
            <li class="menu-list-item"><a class="menu-list-link" href="">Lounge</a> </li>
            <li class="menu-list-item"><a class="menu-list-link" href="">Відгуки</a> </li>
            <li class="menu-list-item"><a class="menu-list-link" href="">Контакти</a> </li>
        </ul>
    </div>
</header>