<section class="hero-section">
    <picture>
        <source srcset="
        ./images/hero/close-up-on-car-care-process-Home-mobile.png    1x,
        ./images/hero/close-up-on-car-care-process-Home-mobile@2x.png 2x
      " />
        <img class="hero__photo" src="./images/hero/close-up-on-car-care-process-Home-mobile.png" alt="blue car" />
    </picture>
    <div class="hero-container container">
        <h1 class="hero__title">
            ДЕТЕЙЛІНГ <span class="hero__title-city">КИЇВ</span>
        </h1>
        <p class="hero__desc">Професійний догляд за авто</p>
        <p class="hero__desc">Якісне обслуговування авто</p>
        <p class="hero__desc">Зона відпочинку</p>
        <a href="tel:+380943333302"><button id="heroBtn" type="button" class="hero__btn"
                onclick="this.classList.add('active'); setTimeout(() => this.classList.remove('active'), 200)">
                Консультація та запис
                <svg class="btn-icon" width="32px" height="32px">
                    <use href="./images/icons-sprite.svg#icon-Call"></use>
                </svg></button></a>
    </div>
</section>