<section class="line ">
    <div class="line__container">
        <ul class="line__menu list">
            <li class="line__item">Хімчистка</li>
            <li class="line__item">Поліровка Кузова та Фар</li>
            <li class="line__item">Оклейка Плівки</li>
            <li class="line__item">Тонування скла та фар</li>
            <li class="line__item">Кераміка</li>
            <li class="line__item">Технічне обслуговування</li>
        </ul>
        <ul class="line__menu list">
            <li class="line__item">Хімчистка</li>
            <li class="line__item">Поліровка Кузова та Фар</li>
            <li class="line__item">Оклейка Плівки</li>
            <li class="line__item">Тонування скла та фар</li>
            <li class="line__item">Кераміка</li>
            <li class="line__item">Технічне обслуговування</li>
        </ul>
        <ul class="line__menu list">
            <li class="line__item">Хімчистка</li>
            <li class="line__item">Поліровка Кузова та Фар</li>
            <li class="line__item">Оклейка Плівки</li>
            <li class="line__item">Тонування скла та фар</li>
            <li class="line__item">Кераміка</li>
            <li class="line__item">Технічне обслуговування</li>
        </ul>
    </div>
</section>