<section class="lounge-zone">
    <div class="container">
        <h3 class="lounge-zone__title">
            <span class="lounge-zone__title-lounge">Lounge</span> Zone
        </h3>
        <div class="lounge-zone__desc-wrapper">
            <svg class="lounge-zone__icon" width="32px" height="32px">
                <use href="./images/icons-sprite.svg#icon-Gamepad"></use>
            </svg>
            <p class="lounge-zone__desc-first">
                <span class="lounge-zone__desc-first-part">Відпочивай -</span> поки твоє
                авто в надійних руках
            </p>
        </div>
        <div class="lounge-zone__desc-photo-wrapper">
            <div class="lounge-zone__desc-container">
                <p class="lounge-zone__desc">
                    Наша Lounge Zone - це затишне місце для відпочинку в Детейлінг-центрі.
                </p>
                <p class="lounge-zone__desc">
                    Тут ви можете насолодитися грою на PlayStation 5, покурити кальян,
                    випити каву, безалкогольні напої або насолодитися вишуканими
                    коктейлями та алкоголем. Завітайте до нас, щоб розслабитися,
                    насолодитися моментами відпочинку та відірватися від повсякденності.
                </p>
                <p class="lounge-zone__desc">Добре проведений час - гарантовано!</p>
            </div>
            <picture>
                <source srcset="
            ./images/lounge-zone/lounge-zone-big-desktop.jpg    1x,
            ./images/lounge-zone/lounge-zone-big-desktop@2x.jpg 2x
          " />
                <img class="lounge-zone__gallery-big-photo" src="./images/lounge-zone/lounge-zone-big-desktop@2x.jpg"
                    alt="lounge-zone" />
            </picture>
        </div>
        <div class="lounge-zone__gallery-container-small-photo">
            <picture>
                <source srcset="
            ./images/lounge-zone/lounge-zone-small-1-desktop.jpg    1x,
            ./images/lounge-zone/lounge-zone-small-1-desktop@2x.jpg 2x
          " />
                <img class="lounge-zone__gallery-small-photo"
                    src="./images/lounge-zone/lounge-zone-small-1-desktop@2x.jpg" alt="lounge-zone" />
            </picture>
            <picture>
                <source srcset="
            ./images/lounge-zone/lounge-zone-small-2-desktop.jpg    1x,
            ./images/lounge-zone/lounge-zone-small-2-desktop@2x.jpg 2x
          " />

                <img class="lounge-zone__gallery-small-photo"
                    src="./images/lounge-zone/lounge-zone-small-2-desktop@2x.jpg" alt="lounge-zone" />
            </picture>
        </div>
        <div class="lounge-zone__gallery-small-photo-desktop">
            <picture>
                <source srcset="
            ./images/lounge-zone/lounge-zone-small-1-desktop.jpg    1x,
            ./images/lounge-zone/lounge-zone-small-1-desktop@2x.jpg 2x
          " />
                <img class="lounge-zone__gallery-small-photo"
                    src="./images/lounge-zone/lounge-zone-small-1-desktop@2x.jpg" alt="lounge-zone" />
            </picture>
            <picture>
                <source srcset="
            ./images/lounge-zone/lounge-zone-small-2-desktop.jpg    1x,
            ./images/lounge-zone/lounge-zone-small-2-desktop@2x.jpg 2x
          " />

                <img class="lounge-zone__gallery-small-photo"
                    src="./images/lounge-zone/lounge-zone-small-2-desktop@2x.jpg" alt="lounge-zone" />
            </picture>
            <picture>
                <source srcset="
            ./images/lounge-zone/lounge-zone-small-3-desktop.jpg    1x,
            ./images/lounge-zone/lounge-zone-small-3-desktop@2x.jpg 2x
          " />
                <img class="lounge-zone__gallery-small-photo"
                    src="./images/lounge-zone/lounge-zone-small-3-desktop@2x.jpg" alt="lounge-zone" />
            </picture>
        </div>
    </div>
</section>