<section class="partners">
    <div class="partners__container container">
        <h3 class="partners__title"><span class="partners__title-ours">Наші</span> Партнери</h3>
        <p class="partners__desc"><span class="partners__desc-ours">Ми ретельно підходимо до вибіру автохіміі, тому <br>
                використовуємо</span> тільки сертифіціровані
            матеріали</p>
        <ul class="partners__list">
            <li class="partners__item">BRAND</li>
            <li class="partners__item">BRAND</li>
            <li class="partners__item">BRAND</li>
            <li class="partners__item">BRAND</li>
        </ul>
    </div>
</section>