<section id="partners" class="partners">
    <div class="partners__container container">
        <h2 data-aos="fade-right" class="partners__title">
            <span class="partners__title-ours">Наші</span> Партнери
        </h2>
        <p data-aos="fade-right" class="partners__desc">
            <span class="partners__desc-ours">Ми ретельно підходимо до вибіру автохіміі, тому <br />
                використовуємо</span>
            тільки сертифіціровані матеріали
        </p>
        <ul class="partners__list list">
            <li class="partners__item">
                <picture>
                    <source srcset="
              ./images/partners/Brand-1.png    1x,
              ./images/partners/Brand-1@2x.png 2x
            " />
                    <img class="partners__img" src="./images/partners/Brand-1.png" alt="brand logo" />
                </picture>
            </li>
            <png class="partners__item">
                <picture>
                    <source srcset="
              ./images/partners/Brand-2.png    1x,
              ./images/partners/Brand-2@2x.png 2x
            " />
                    <img class="partners__img" src="./images/partners/Brand-2.png" alt="brand logo" />
                </picture>
            </png <li class="partners__item">
            <picture>
                <source srcset="
              ./images/partners/Brand-3.png    1x,
              ./images/partners/Brand-3@2x.png 2x
            " />
                <img class="partners__img" src="./images/partners/Brand-3.png" alt="brand logo" />
            </picture>
            </li>
            <li class="partners__item">
                <picture>
                    <source srcset="
              ./images/partners/Brand-4.png    1x,
              ./images/partners/Brand-4@2x.png 2x
            " />
                    <img class="partners__img" src="./images/partners/Brand-4.png" alt="brand logo" />
                </picture>
            </li>
            <li class="partners__item">
                <picture>
                    <source srcset="
                          ./images/partners/Brand-5.png    1x,
                          ./images/partners/Brand-5@2x.png 2x
                        " />
                    <img class="partners__img" src="./images/partners/Brand-5.png" alt="brand logo" />
                </picture>
            </li>
            <li class="partners__item">
                <picture>
                    <source srcset="
                                      ./images/partners/Brand-6.png    1x,
                                      ./images/partners/Brand-6@2x.png 2x
                                    " />
                    <img class="partners__img" src="./images/partners/Brand-6.png" alt="brand logo" />
                </picture>
            </li>
            <li class="partners__item">
                <picture>
                    <source srcset="
                                      ./images/partners/Brand-7.png    1x,
                                      ./images/partners/Brand-7@2x.png 2x
                                    " />
                    <img class="partners__img" src="./images/partners/Brand-7.png" alt="brand logo" />
                </picture>
            </li>
            <li class="partners__item">
                <picture>
                    <source srcset="
                                              ./images/partners/Brand-8.png    1x,
                                              ./images/partners/Brand-8@2x.png 2x
                                            " />
                    <img class="partners__img" src="./images/partners/Brand-8.png" alt="brand logo" />
                </picture>
            </li>
        </ul>
    </div>
</section>