<section id="reviews" class="reviews">
    <div class="reviews-container container">
        <h2 class="reviews__title">
            <span class="reviews__title-reviews">Відгуки</span> кліентів
        </h2>
        <p class="reviews__desc">
            <span class="reviews__desc-real">Реальні думки</span> про наші послуги
        </p>
        <div class="reviews__card-container">
            <ul class="reviews__card-list list">
                <li class="reviews__card-item">
                    <div class="reviews__card-item-wrapper">
                        <div class="reviews__card-item-name-brand">
                            <p class="reviews__card-item-name">Андрій</p>
                            <p class="reviews__card-item-brand" lang="en">Volkswagen Polo</p>
                        </div>
                        <div class="reviews__card-item-wrapper-icon"><svg class="reviews__card-item-stars-icon"
                                width="120px" height="24px">
                                <use width="120px" height="24px" href="./images/icons-sprite.svg#icon-5starts"></use>
                            </svg></div>

                    </div>

                    <p class="reviews__card-item-desc">
                        Учитывая ключевые сценарии поведения, перспективное планирование
                        выявляет срочную потребность соответствующих условий активизации!
                        Учитывая ключевые сценарии поведения, перспективное планирование
                        выявляет срочную потребность соответствующих условий активизации!
                    </p>
                    <picture>
                        <source srcset="
                ./images/reviews/customer-1.jpg    1x,
                ./images/reviews/customer-1@2x.jpg 2x
              " />
                        <img class="reviews__card-item-photo" src="./images/reviews/customer-1@2x.jpg" alt="customer" />
                    </picture>
                </li>
                <li class="reviews__card-item">
                    <div class="reviews__card-item-wrapper">
                        <div class="reviews__card-item-name-brand">
                            <p class="reviews__card-item-name">Кевін</p>
                            <p class="reviews__card-item-brand" lang="en">MAZDA CX-5</p>
                        </div>
                        <div class="reviews__card-item-wrapper-icon"><svg class="reviews__card-item-stars-icon"
                                width="120px" height="24px">
                                <use width="120px" height="24px" href="./images/icons-sprite.svg#icon-5starts"></use>
                            </svg></div>

                    </div>

                    <p class="reviews__card-item-desc">
                        Учитывая ключевые сценарии поведения, перспективное планирование
                        выявляет срочную потребность соответствующих условий активизации!
                        Учитывая ключевые сценарии поведения, перспективное планирование
                        выявляет срочную потребность соответствующих условий активизации!
                    </p>
                    <picture>
                        <source srcset="
                                ./images/reviews/customer-2.jpg    1x,
                                ./images/reviews/customer-2@2x.jpg 2x
                              " />
                        <img class="reviews__card-item-photo" src="./images/reviews/customer-2@2x.jpg" alt="customer" />
                    </picture>
                </li>
                <li class="reviews__card-item">
                    <div class="reviews__card-item-wrapper">
                        <div class="reviews__card-item-name-brand">
                            <p class="reviews__card-item-name">Василь</p>
                            <p class="reviews__card-item-brand" lang="en">Ford Mustang</p>
                        </div>
                        <div class="reviews__card-item-wrapper-icon"><svg class="reviews__card-item-stars-icon"
                                width="120px" height="24px">
                                <use width="120px" height="24px" href="./images/icons-sprite.svg#icon-5starts"></use>
                            </svg></div>

                    </div>

                    <p class="reviews__card-item-desc">
                        Учитывая ключевые сценарии поведения, перспективное планирование
                        выявляет срочную потребность соответствующих условий активизации!
                        Учитывая ключевые сценарии поведения, перспективное планирование
                        выявляет срочную потребность соответствующих условий активизации!
                    </p>
                    <picture>
                        <source srcset="
                                ./images/reviews/customer-3.jpg    1x,
                                ./images/reviews/customer-3@2x.jpg 2x
                              " />
                        <img class="reviews__card-item-photo" src="./images/reviews/customer-3@2x.jpg" alt="customer" />
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>