<section class="services">
    <div class="container">
        <div class="services__title-wrapper">
            <h2 class="services__title">
                <span class="services__title-gold">Послуги </span>Детейлінгу
            </h2>
            <div class="services__desc-wrapper">
                <svg class="services__hot-icon" width="32" height="32">
                    <use href="./images/icons-sprite.svg#icon-Hot"></use>
                </svg>
                <p class="services__desc">Популярні послуги</p>
            </div>
        </div>
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-header"><svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Полірування кузова</p>
                    <p class="accordion-header__price">Від 200 $</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                    </ul>
                    <p class="accordion-content-desc">
                        При поліруванні кузова ми ретельно видаляємо подряпини, окиси та інші дефекти, що накопичилися
                        на поверхні. Застосовуючи
                        професійні інструменти та матеріали, ми працюємо над кожним сантиметром кузова, надаючи йому
                        чистоту і блиск. Наші
                        майстри володіють розширеними знаннями і досвідом у поліруванні, що дозволяє досягти високої
                        якості і бездоганного
                        вигляду вашого автомобіля. Ми використовуємо спеціальні полірувальні розчини та грунтовки, щоб
                        покращити стан
                        лакофарбового покриття, забезпечити йому глибокий блиск та тривалу стійкість. За допомогою
                        технік, які ми володіємо, ми
                        зробимо ваш автомобіль виглядати як новий, відновивши його колір, глянець та естетичний вигляд.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"><svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Полірування фар</p>
                    <p class="accordion-header__price">2000 грн (за пару)</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                    </ul>
                    <p class="accordion-content-desc">
                        Які результати слід очікувати від поліровки фар?
                        Відновлення яскравості: З часом фари автомобіля можуть втратити свою прозорість і стати матовими
                        або покритими плямами.
                        Полірування дозволяє повернути їм яскравість та прозорість, покращуючи якість освітлення на
                        дорозі.

                        Поліпшення видимості: затемнені або матові фари можуть обмежити видимість водія та інших
                        учасників дорожнього руху.
                        Полірування фар допомагає усунути пошкодження та підвищити видимість, особливо у темний час доби
                        або за поганих погодних
                        умов.

                        Естетична привабливість: Чисті та яскраві фари надають автомобілю більш привабливого вигляду.
                        Полірування допомагає
                        усунути подряпини, потертості та інші пошкодження, відновлюючи їх початковий стан.

                        Захист від пошкоджень: Поліровка фар також може бути захистом від пошкоджень. Захисні покриття
                        та полірувальні матеріали
                        можуть допомогти запобігти появі нових подряпин та збільшити термін служби фар.

                        В результаті, полірування фар - це не лише покращення видимості на дорозі, а й покращення
                        зовнішнього вигляду
                        автомобіля, підвищення безпеки та захист від пошкоджень.

                        Процесс полірування:
                        Підготовка фар: Фари ретельно очищаються від бруду, пилу та інших забруднень, щоб забезпечити
                        оптимальні умови
                        полірування.

                        Шліфування: За допомогою спеціальних шліфувальних матеріалів та інструментів видаляються
                        подряпини, потертості та
                        матовість з поверхні фар. Цей етап допомагає відновити гладкість та ясність фар.

                        Полірування: На цьому етапі застосовуються полірувальні засоби та полірувальні кола, які
                        допомагають повернути фарам
                        їхній блиск та прозорість. Полірування виконується за допомогою спеціальних технік і рухів, щоб
                        досягти оптимального
                        результату.

                        Захисне покриття: На завершення процедури полірування фар наноситься захисне покриття, яке
                        допомагає зберегти їх новий
                        вигляд та захищає від повторної появи подряпин та матовості.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"><svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Тонування</p>
                    <p class="accordion-header__price">Від 200 $</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                    </ul>
                    <p class="accordion-content-desc">

                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"><svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Хімчиcтка салона</p>
                    <p class="accordion-header__price">Від 180 $</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                    </ul>
                    <p class="accordion-content-desc">
                        При повній химчистці автомобіля в нашій студії ми проводимо детальну обробку і чищення кожного
                        сантиметра салону з
                        використанням професійного обладнання, спеціалізованої хімії та нашого великого досвіду. Ми
                        усуваємо забруднення з
                        найважкодоступних місць та видаляємо бактерії, що накопичуються на поверхнях салону та можуть
                        впливати на ваше здоров'я.
                        Ми враховуємо фактори, такі як вживання їжі в автомобілі, виливання кави, забруднений повітря
                        ззовні, куріння та інші.
                        Після нашої химчистки ваш салон стане візуально чистим, а також буде дезінфікованим,
                        забезпечуючи вам безпечне та
                        здорове середовище.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"><svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Оклейка плівки кузова</p>
                    <p class="accordion-header__price">Від 2800 $</p>
                </div>
                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                    </ul>
                    <p class="accordion-content-desc">

                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header"><svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Нанокераміка</p>
                    <p class="accordion-header__price">Від 700 $</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car"></use>
                            </svg>
                            <p class="accordion__category-category">Легкові Авто</p>
                            <p class="accordion__category-price">4000,00грн</p>
                        </li>
                    </ul>
                    <p class="accordion-content-desc">

                    </p>
                </div>
            </div>
        </div>
        <a href="./detailing.html"><button class="services__btn" type="button">
                Всі послуги
                <svg class="services__btn-icon" width="24px" height="24px">
                    <use href="./images/icons-sprite.svg#icon-Arrow-Right"></use>
                </svg>
            </button></a>

    </div>
</section>