<section class="services">
    <div class="container">
        <div class="services__title-wrapper">
            <h2 data-aos="fade-right" class="services__title">
                <span class="services__title-gold">Послуги </span>Детейлінгу
            </h2>
            <div data-aos="fade-left" class="services__desc-wrapper">
                <svg class="services__hot-icon" width="32" height="32">
                    <use href="./images/icons-sprite.svg#icon-Hot"></use>
                </svg>
                <p class="services__desc">Популярні послуги</p>
            </div>
        </div>
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Хімчистка салону</p>
                    <p class="accordion-header__price">Від 2500 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">2500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">3000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">3500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">4000 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Відновлююче Полірування</p>
                    <p class="accordion-header__price">Від 6000 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">6000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">6500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">7000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">7500 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Повне тонування (без лобового)</p>
                    <p class="accordion-header__price">Від 4000 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">від 4000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">від 4000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">від 4500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">від 5000 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Покриття твердим воском - 6 міс</p>
                    <p class="accordion-header__price">Від 1500 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">1500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">1500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">2000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">2500 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Двофазна детейлінг мийка</p>
                    <p class="accordion-header__price">Від 600 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">600 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">650 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">700 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">800 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Захист керамічним покриттям</p>
                    <p class="accordion-header__price">Від 6000 грн</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">6000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">6500 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">7000 грн</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">7500 грн</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <svg class="accordion-header__icon" width="32" height="32">
                        <use href="./images/icons-sprite.svg#icon-Default"></use>
                    </svg>
                    <p class="accordion-header__title">Поклейка вінілової плівки на авто</p>
                    <p class="accordion-header__price">Від 2500 $</p>
                </div>

                <div class="accordion-content">
                    <ul class="accordion__category-list list">
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-mini"></use>
                            </svg>
                            <p class="accordion__category-category">Міні, суперміні</p>
                            <p class="accordion__category-price">2500 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-coupe"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Седан, Купє, Бізнес, Спорт
                            </p>
                            <p class="accordion__category-price">3000 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-universal"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Універсал, Паркетник, Позашляховик
                            </p>
                            <p class="accordion__category-price">3500 $</p>
                        </li>
                        <li class="accordion__category-item">
                            <svg class="accordion__category-icon" width="64px" height="64px">
                                <use href="./images/icons-sprite.svg#icon-car-jeep"></use>
                            </svg>
                            <p class="accordion__category-category">
                                Повнорозмірний, Паркетник, Позашляховик, LUX SEDAN
                            </p>
                            <p class="accordion__category-price">4000 $</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="./detailing.html"><button class="services__btn" type="button">
                Всі послуги
                <svg class="services__btn-icon" width="24px" height="24px">
                    <use href="./images/icons-sprite.svg#icon-Arrow-Right"></use>
                </svg></button></a>
    </div>
</section>