<section class="services-detailing">
    <div class="container">
        <h3 class="services-detailing__title">
            <span class="services-detailing__title-services">Послуги</span> Детейлінгу
        </h3>
        <div class="services-detailing__container">
            <div class="services-detailing__desc-wrapper">
                <p class="services-detailing__desc">
                    Ласкаво просимо до нашої студії детейлінгу!
                </p>
                <p class="services-detailing__desc">
                    Ми команда професіоналів, які присвячені приведенню вашого автомобіля до
                    бездоганного стану.
                </p>
                <p class="services-detailing__desc">
                    Наші послуги включають хімчистку, полірування кузова та фар, поклейку
                    плівки, тонування кузова та фар, а також нанесення керамічного покриття.
                </p>
                <p class="services-detailing__desc">
                    Ми працюємо з увагою до деталей та забезпечуємо індивідуальний підхід до
                    кожного клієнта. Наша мета - забезпечити вам неперевершений досвід та
                    залишити ваш автомобіль сяючим і захищеним. Довірте нам своє авто, а ми
                    зробимо його особливим!
                </p>
            </div>
            <picture>
                <source srcset="
                  ./images/services/services-desktop.jpg    1x,
                  ./images/services/services-desktop@2x.jpg 2x
                " media="(min-width:1200px)" />
                <source srcset="
                  ./images/services/services-tablet.jpg    1x,
                  ./images/services/services-tablet@2x.jpg 2x
                " media="(min-width:768px)" />
                <source srcset="
                  ./images/services/services-mobile.jpg    1x,
                  ./images/services/services-mobile@2x.jpg 2x
                " media="(max-width:767px)" />
                <img class="services-detailing__img" src="./images/services/services-mobile@2x.jpg" alt="services" />
            </picture>
        </div>

    </div>
</section>