<section class="services-detailing">
    <div class="container">
        <h2 data-aos="fade-right" class="services-detailing__hi">
            Вітаємо!
        </h2>
        <div class="services-detailing__container">
            <div class="services-detailing__desc-wrapper">
                <p data-aos="fade-right" class="services-detailing__desc">
                    Ласкаво просимо до нашої студії детейлінгу!
                </p>
                <p data-aos="fade-right" class="services-detailing__desc">
                    Ми команда професіоналів, які присвячені приведенню вашого автомобіля до
                    бездоганного стану.
                </p>
                <p data-aos="fade-right" class="services-detailing__desc">
                    Наші послуги включають хімчистку, полірування кузова та фар, поклейку
                    плівки, тонування кузова та фар, а також нанесення керамічного покриття.
                </p>
                <p data-aos="fade-right" class="services-detailing__desc">
                    Ми працюємо з увагою до деталей та забезпечуємо індивідуальний підхід до
                    кожного клієнта. Наша мета - забезпечити вам неперевершений досвід та
                    залишити ваш автомобіль сяючим і захищеним. Довірте нам своє авто, а ми
                    зробимо його особливим!
                </p>
            </div>
            <picture>
                <source srcset="
                  ./images/services/services.jpg 1x,
                  ./images/services/services.jpg 2x
                " />
                <img class="services-detailing__img" src="./images/services/services.jpg" alt="services" load="lazy"
                    height="400px" />
            </picture>
        </div>

    </div>
</section>