<section class="slider-car">
    <div class="slider-car__container container">
        <ul class="slider-car__list list">
            <li class="slider-car__item">
                <picture>
                    <source srcset="
              ./images/slider/car-5.webp    1x,
              ./images/slider/car-5@2x.webp 2x
            " />
                    <img class="slider-car__photo active" src="./images/slider/car-5.webp" alt="red car" height="700" />
                </picture>
            </li>
            <li class="slider-car__item">
                <picture>
                    <source srcset="
              ./images/slider/car-4.webp    1x,
              ./images/slider/car-4@2x.webp 2x
            " />
                    <img class="slider-car__photo active" src="./images/slider/car-4.webp" alt="red car" height="700" />
                </picture>
            </li>
            <li class="slider-car__item">
                <picture>
                    <source srcset="
              ./images/slider/car-3.webp    1x,
              ./images/slider/car-3@2x.webp 2x
            " />
                    <img class="slider-car__photo active" src="./images/slider/car-3.webp" alt="red car" height="700" />
                </picture>
            </li>
            <li class="slider-car__item">
                <picture>
                    <source srcset="
              ./images/slider/сar.webp    1x,
              ./images/slider/сar@2x.webp 2x
            " />
                    <img class="slider-car__photo active" src="./images/slider/сar.webp" alt="red car" height="700" />
                </picture>
            </li>
            <li class="slider-car__item">
                <picture>
                    <source srcset="
              ./images/slider/car-2.webp    1x,
              ./images/slider/car-2@2x.webp 2x
            " />
                    <img class="slider-car__photo active" src="./images/slider/car-2.webp" alt="red car" height="700" />
                </picture>
            </li>
        </ul>
    </div>
</section>