<section class="slider-car">
  <div class="slider-car__container">
    <ul class="slider-car__list list">
      <li class="slider-car__item">
        <picture>
          <source srcset="./images/slider/car.jpg 1x" />
          <img class="slider-car__photo active" src="./images/slider/car.jpg" alt="red car" height="700" />
        </picture>
      </li>
      <li class="slider-car__item">
        <picture>
          <source srcset="
              ./images/slider/car-1.jpg    1x
            
            " />
          <img class="slider-car__photo active" src="./images/slider/car-1.jpg" alt="red car" height="700" />
        </picture>
      </li>
      <li class="slider-car__item">
        <picture>
          <source srcset="
              ./images/slider/car-2.jpg    1x
             
            " />
          <img class="slider-car__photo active" src="./images/slider/car-2.jpg" alt="red car" height="700" />
        </picture>
      </li>
      <li class="slider-car__item">
        <picture>
          <source srcset="
              ./images/slider/car-3.jpg    1x
            
            " />
          <img class="slider-car__photo active" src="./images/slider/car-3.jpg" alt="red car" height="700" />
        </picture>
      </li>
      <li class="slider-car__item">
        <picture>
          <source srcset="
              ./images/slider/car-4.jpg    1x
              
            " />
          <img class="slider-car__photo active" src="./images/slider/car-4.jpg" alt="red car" height="700" />
        </picture>
      </li>
    </ul>
  </div>
</section>