<section class="slider-car">
    <div class="slider-car__container container">
        <ul class="slider-car__list">
            <li class="slider-car__item">
                <picture>
                    <source srcset="
              ./images/slider/car-1.png    1x,
              ./images/slider/car-1@2x.png 2x
            " />
                    <img class="slider-car__photo" src="./images/slider/car-1.png" alt="red car" />
                </picture>
            </li>
            <li class="slider-car__item">
                <picture>
                    <source srcset="
                          ./images/slider/car-2.png    1x,
                          ./images/slider/car-2@2x.png 2x
                        " />
                    <img class="slider-car__photo" src="./images/slider/car-2.png" alt="red car" />
                </picture>
            </li>
            <li class="slider-car__item">
                <picture>
                    <source srcset="
                          ./images/slider/car-3.png    1x,
                          ./images/slider/car-3@2x.png 2x
                        " />
                    <img class="slider-car__photo" src="./images/slider/car-3.png" alt="red car" />
                </picture>
            </li>
            <li class="slider-car__item">
                <picture>
                    <source srcset="
                          ./images/slider/car-4.png    1x,
                          ./images/slider/car-4@2x.png 2x
                        " />
                    <img class="slider-car__photo" src="./images/slider/car-4.png" alt="red car" />
                </picture>
            </li>
            <li class="slider-car__item">
                <picture>
                    <source srcset="
                          ./images/slider/car-5.png    1x,
                          ./images/slider/car-5@2x.png 2x
                        " />
                    <img class="slider-car__photo" src="./images/slider/car-5.png" alt="red car" />
                </picture>
            </li>
        </ul>
    </div>
</section>