<section class="social-media">
    <div class="container">
        <h2 data-aos="fade-right" class="social-media__title">
            <span class="social-media__title-we">Ми</span> Онлайн
        </h2>
        <p data-aos="fade-right" class="social-media__desc">
            <span class="social-media__desc-join">Доєднуйся до наших</span> соцмереж
        </p>
        <div class="social-media__desc-container">
            <picture>
                <source srcset="./images/social-media/mockup-tablet-desktop@2x.png 2x" media="(min-width: 768px)"
                    height="486" />
                <source srcset="
            ./images/social-media/mockup-mobile.png    1x,
            ./images/social-media/mockup-mobile@2x.png 2x
          " media="(max-width: 767px)" height="486" />
                <img class="social-media__mockup" src="./images/social-media/mockup-mobile@2x.png" alt="social-media"
                    height="486" />
            </picture>
            <div class="social-media__description-wrapper">
                <img class="social-media__description-QR" src="./images/social-media/QR-kod.png" alt="QR-kod">
                <p data-aos="fade-down" class="social-media__description-text">
                    Приєднуйтесь до нашої спільноти та залишайтеся в курсі всіх наших
                    новин та спеціальних пропозицій!
                </p>
                <ul class="social-media__description-list">
                    <li data-aos="fade-down" class="social-media__description-item">
                        Тут ми постійно оновлюємо контент
                    </li>
                    <li data-aos="fade-down" class="social-media__description-item">
                        Проводимо розіграші та акції
                    </li>
                    <li data-aos="fade-down" class="social-media__description-item">
                        Більше відгуків про нас та нашу роботу
                    </li>
                    <li data-aos="fade-down" class="social-media__description-item">
                        Постійний зв’язок з нами.
                    </li>
                </ul>
                <ul class="social-media__button-list list">
                    <li class="social-media__button-item">
                        <a href="https://instagram.com/gold.detailing.kiyv?igshid=NTc4MTIwNjQ2YQ==" target="_blank"
                            rel="noopener noreferrer"><button class="social-media__button">
                                INSTAGRAM
                                <svg class="social-media__button-icon" width="24px" height="24px">
                                    <use href="./images/icons-sprite.svg#icon-instagram"></use>
                                </svg></button></a>
                    </li>
                    <li class="social-media__button-item">
                        <a href="https://web.telegram.org/a/#5530926461" target="_blank"
                            rel="noopener noreferrer"><button class="social-media__button">
                                TELEGRAM
                                <svg class="social-media__button-icon" width="24px" height="24px">
                                    <use href="./images/icons-sprite.svg#icon-telega"></use>
                                </svg></button></a>
                    </li>
                    <li class="social-media__button-item">
                        <a href="https://instagram.com/gold.detailing.kiyv?igshid=NTc4MTIwNjQ2YQ==" target="_blank"
                            rel="noopener noreferrer"><button class="social-media__button">
                                FACEBOOK
                                <svg class="social-media__button-icon" width="24px" height="24px">
                                    <use href="./images/icons-sprite.svg#icon-facebook"></use>
                                </svg></button></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>