<section id="STO-services" class="STO-services">
    <div class="container">
        <h3 class="STO-services__title">
            <span class="STO-services__title-services">Послуги</span> СТО
        </h3>
        <p class="STO-services__desc">
            <span class="STO-services__desc-fist">Швидке та якісне</span> технічне
            обслуговування
        </p>
        <div class="STO-services__wrapper">
            <div>
                <p class="STO-services__details">
                    Учитывая ключевые сценарии поведения, перспективное планирование
                    выявляет срочную потребность соответствующих условий
                    активизации!Учитывая ключевые сценарии поведения, перспективное
                    планирование выявляет срочную потребность соответствующих условий
                    активизации!
                </p>
                <ul class="STO-services__advantages__menu list">
                    <li class="STO-services__advantages__item">
                        <svg class="STO-services__advantages__icon" width="64px" height="64px">
                            <use href="./images/icons-sprite.svg#icon-Gamepad"></use>
                        </svg>
                        <h3 class="STO-services__advantages__title">Приемущество</h3>
                        <p class="STO-services__advantages__desc">
                            Учитывая ключевые сценарии поведения, перспективное планирование
                            выявляет срочную потребность соответствующих условий активизации!
                        </p>
                    </li>
                    <li class="STO-services__advantages__item">
                        <svg class="STO-services__advantages__icon" width="64px" height="64px">
                            <use href="./images/icons-sprite.svg#icon-Spray"></use>
                        </svg>
                        <h3 class="STO-services__advantages__title">Приемущество</h3>
                        <p class="STO-services__advantages__desc">
                            Учитывая ключевые сценарии поведения, перспективное планирование
                            выявляет срочную потребность соответствующих условий активизации!
                        </p>
                    </li>
                </ul>
            </div>
            <picture>
                <source srcset="
            ./images/STO/STO-desktop.jpg    1x,
            ./images/STO/STO-desktop@2x.jpg 2x
          " media="(min-width: 1200px)" />
                <source srcset="
            ./images/STO/STO-tablet.jpg    1x,
            ./images/STO/STO-tablet@2x.jpg 2x
          " media="(min-width: 768px)" />
                <source srcset="
            ./images/STO/STO-mobile.jpg    1x,
            ./images/STO/STO-mobile@2x.jpg 2x
          " media="(max-width: 767px)" />
                <img class="STO-services__photo" src="./images/STO/STO-desktop@2x.jpg" alt="STO" />
            </picture>
        </div>
    </div>
</section>