<section id="STO-services" class="STO-services">
    <div class="container">
        <h2 data-aos="fade-right" class="STO-services__title">
            <span class="STO-services__title-services">Послуги</span> СТО
        </h2>
        <p data-aos="fade-right" class="STO-services__desc">
            <span class="STO-services__desc-fist">Швидке та якісне</span> технічне
            обслуговування
        </p>
        <div class="STO-services__wrapper">
            <picture>
                <source srcset="
            ./images/STO/STO-desktop.webp    1x,
            ./images/STO/STO-desktop@2x.webp 2x
          " media="(min-width: 1200px)" />
                <source srcset="
            ./images/STO/STO-tablet.webp    1x,
            ./images/STO/STO-tablet@2x.webp 2x
          " media="(min-width: 768px)" />
                <source srcset="
            ./images/STO/STO-mobile.webp    1x,
            ./images/STO/STO-mobile@2x.webp 2x
          " media="(max-width: 767px)" />
                <img class="STO-services__photo" src="./images/STO/STO-desktop@2x.webp" alt="STO" load="lazy" />
            </picture>
            <div>
                <div class="STO-services__desc-services-wrapper">
                    <p class="STO-services__desc-services">
                        Також ми надаємо послуги технічного обслуговування. Ми надаємо
                        широкий спектр послуг: діагностика, ремонт та обслуговування. Наші
                        кваліфіковані механіки забезпечать бездоганну роботу двигуна,
                        трансмісії та інших систем. Ми прагнемо до індивідуального підходу
                        до кожного клієнта та надаємо якісний сервіс на всіх етапах.
                        Завітайте до нас та переконайтеся, що ваш автомобіль заслуговує
                        найкращого догляду!
                    </p>
                    <p class="STO-services__desc-services">
                        Послуги:
                    </p>
                    <ul class="STO-services__desc-services-list">
                        <li class="STO-services__desc-services-item">
                            Дiагностика
                        </li>
                        <li class="STO-services__desc-services-item">
                            Технічне обслуговування автомобіля
                        </li>
                        <li class="STO-services__desc-services-item">
                            Ремонт підвіски (ходової)
                        </li>
                        <li class="STO-services__desc-services-item">
                            Розвал-сходження коліс
                        </li>
                        <li class="STO-services__desc-services-item">
                            Діагностика та ремонт гальмівної та рульової систем
                        </li>
                        <li class="STO-services__desc-services-item">
                            Ремонт навісного обладнання
                        </li>
                        <li class="STO-services__desc-services-item">
                            Діагностика та ремонт двигуна, АКПП та МКПП
                        </li>
                        <li class="STO-services__desc-services-item">
                            Ремонт паливної системи
                        </li>
                    </ul>
                </div>
                <!-- <div class="STO-services__wrapper-btn">
                    <p class="STO-services__desc-services">
                        Подивитись усі послуги та ціни:
                    </p>
                    <a href="https://drive.google.com/file/d/1XdcPXa8ZFJerFtazLWvqyW-NSGRy4qNf/view?usp=sharing"
                        target="_blank" rel="noopener noreferrer" download><button class="STO-services__btn"
                            onclick="this.classList.add('active'); setTimeout(() => this.classList.remove('active'), 800)"
                            type="button">
                            Завантажити прайс .pdf
                            <svg class="STO-services__btn-icon" width=" 24" height="24">
                                <use href="./images/icons-sprite.svg#icon-download"></use>
                            </svg></button></a>
                </div> -->
            </div>
        </div>
    </div>
</section>