.advantages {
  padding-top: 64px;
  padding-bottom: 64px;
  background: var(--black-90);
}

.advantages__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.advantages__item {
  padding: 16px;
  background-color: var(--black-100);
  border-radius: 8px;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--black-gold);
  }
}

.advantages__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.advantages__desc {
  font-size: 16px;
  font-weight: 400;
}
.advantages__icon {
  margin-bottom: 12px;
  fill: var(--gold-80);
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .advantages__menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages__item {
    width: 352px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .advantages__menu {
    flex-wrap: nowrap;
  }
  .advantages__item {
    width: 285px;
  }
}
