.hero-container {
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero__photo-detailing {
  width: 100%;
  min-height: 314px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero__photo-detailing {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('../images/hero/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 436px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero-container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('../images/hero/hero-desktop@2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 436px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('../images/hero/hero-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 423px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url('../images/hero/hero-desktop@2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 423px;
  }
}

.hero__title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--gold);
  font-size: 28px;
  font-family: Dela Gothic One;
  font-style: normal;
  font-weight: 400;
  line-height: 112.8%;
}
.hero__title-detailing {
  color: var(--white);
}
.hero__desc {
  margin-bottom: 4px;

  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

.hero__btn {
  color: var(--black-100);
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--gold);
  transition: background var(--transition-dur-and-func);
}

.hero__btn.active {
  background: var(--black-100);
  color: var(--gold);
}

.hero__btn .btn-icon {
  margin-left: 8px;
  display: block;
  fill: var(--black-100);
  width: 32px;
  height: 32px;
  transition: fill var(--transition-dur-and-func);
}

.hero__btn.active .btn-icon {
  fill: var(--gold);
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 114px;
    padding-bottom: 80px;
  }
  .hero__title {
    margin-bottom: 28px;
    font-size: 64px;
    font-family: Dela Gothic One;
    font-weight: 400;
  }
  .hero__title-detailing {
    color: var(--white);
    display: block;
    text-align: center;
  }

  .hero__desc {
    margin-bottom: 12px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    display: none;
  }
  .hero-container {
    padding-top: 124px;
    padding-bottom: 206px;
  }
  .hero__title {
    margin-bottom: 0;
  }
  .hero__title-detailing {
    display: inline;
  }
}
