.gallery {
  padding-top: 64px;
  padding-bottom: 64px;
}
.gallery__title {
  color: var(--gold-80);
  font-family: Dela Gothic One;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}
.gallery__desc {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.gallery__item {
  flex-basis: calc(50% - 10px);
}

.gallery__photo {
  width: 100%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}

.gallery__fullscreen {
  width: 100%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
