.hero-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__photo {
  width: 100%;
  min-height: 314px;
}

@media screen and (min-width: 768px) {
  .hero__photo {
    display: none;
  }
}

@media screen and (min-width: 768px) and(max-width: 1199px) {
  .hero-container {
    background: url('../images/hero/close-up-on-car-care-process-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and(max-width: 1199px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero-container {
    background: url('../images/hero/close-up-on-car-care-process-tablet@2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background: url('../images/hero/close-up-on-car-care-process-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background: url('../images/hero/close-up-on-car-care-process-desktop@2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero__title {
  margin-bottom: 20px;
  color: var(--gold);
  font-size: 28px;
  font-family: Dela Gothic One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__title-city {
  color: var(--white);
}
.hero__desc {
  margin-bottom: 4px;

  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

// .hero__btn {
//   color: var(--black-100);
//   font-size: 16px;
//   font-weight: 500;

//   margin-top: 16px;
//   display: flex;
//   padding: 16px 32px;
//   justify-content: center;
//   align-items: center;
//   border-radius: 40px;
//   background: var(--gold);

//   &:hover,
//   &:focus {
//     background: var(--black-100);
//     color: var(--gold);
//   }
// }
// .btn-icon {
//   margin-left: 8px;
//   display: block;
//   fill: var(--black-100);
//   width: 32px;
//   height: 32px;
//   transition: fill var(--transition-dur-and-func);

//   .hero__btn:hover &,
//   .hero__btn:focus & {
//     fill: var(--gold);
//   }
// }

.hero__btn {
  color: var(--black-100);
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--gold);
  transition: background var(--transition-dur-and-func);
}

.hero__btn.active {
  background: var(--black-100);
  color: var(--gold);
}

.hero__btn .btn-icon {
  margin-left: 8px;
  display: block;
  fill: var(--black-100);
  width: 32px;
  height: 32px;
  transition: fill var(--transition-dur-and-func);
}

.hero__btn.active .btn-icon {
  fill: var(--gold);
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 71px;
    padding-bottom: 71px;
  }
  .hero__title {
    margin-bottom: 28px;
    font-size: 64px;
    font-style: normal;
    font-family: Dela Gothic One;
    font-weight: 400;
    line-height: 109.3%;
    letter-spacing: -1.28px;
  }
  .hero__title-city {
    color: var(--white);
    display: block;
    text-align: center;
  }

  .hero__desc {
    margin-bottom: 12px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    display: none;
  }
  .hero-container {
    padding-top: 147px;
    padding-bottom: 145px;
  }
}
