.line {
  border-top: 2px solid var(--white);
  padding-top: 28px;
  padding-bottom: 28px;
}

.line__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.line__item {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.line__item::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translate(-50%, -50%);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.line__container {
  animation: marquee 10s linear infinite;
}
