.services {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--black-90);
}
.services__title {
  font-family: Dela Gothic One;
  font-size: 24px;
  font-weight: 400;
}
.services__title-gold {
  color: var(--gold-80);
}
.services__desc-wrapper {
  display: flex;
  align-items: center;
}
.services__hot-icon {
  fill: var(--red);
}
.services__desc {
  font-size: 18px;
  font-weight: 700;
}
.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
  padding: 12px;
}

.accordion-content {
  display: none;
  padding: 12px;
}

.accordion-content p {
  margin: 0;
}
